In [2]:
import pandas as pd 
import numpy as np

In [11]:
df = pd.read_csv(r'./datasets/scrape_5.11.csv')

In [14]:
df

,tweet_id,username,text,tweet_date,search_term,city,lat,long,radius,query_start
0,1228415289269858310,Bearjew1964,Disease modelers gaze into their computers to ...,2020-02-14 20:26:42,COVID,Brooklyn,40.650002,-73.949997,10mi,2020-02-01
1,1228345808954765313,Carlos Salazar,I know we have a limited attention span and al...,2020-02-14 15:50:37,COVID,Brooklyn,40.650002,-73.949997,10mi,2020-02-01
2,1228149699145871360,Hefe O-Ren Ishii,As one Princess cruise is quarantined for COVI...,2020-02-14 02:51:20,COVID,Brooklyn,40.650002,-73.949997,10mi,2020-02-01
3,1228008158586720256,josh,how about we call it by it‚Äôs new name: COVID-1...,2020-02-13 17:28:54,COVID,Brooklyn,40.650002,-73.949997,10mi,2020-02-01
4,1227684262859636738,Helen Ong,"Scorpio: To me, the #COVID_19 19, as virulent ...",2020-02-12 20:01:52,COVID,Brooklyn,40.650002,-73.949997,10mi,2020-02-01
...,...,...,...,...,...,...,...,...,...,...
102375,1259183090511028225,Brian -Doc- Hall üåªü¶∫üå∫,"The current advisory is that due to shortages,...",2020-05-09 18:06:57,N95,NYC,40.963400,-72.184800,35mi,2020-01-01
102376,1259011974257664000,Trainman_lover üöÇüá∫üá∏‚≠ê‚≠ê‚≠ê,"What ?? The factories haven't been closed, Uni...",2020-05-09 06:47:00,N95,NYC,40.963400,-72.184800,35mi,2020-01-01
102377,1258420596452610050,Riverhead Patch,"The hospitals received N95 masks, surgical mas...",2020-05-07 15:37:05,N95,NYC,40.963400,-72.184800,35mi,2020-01-01
102378,1258229860880846848,UGLYboiJIGGY,even the homeless got the N95 out here selling...,2020-05-07 02:59:10,N95,NYC,40.963400,-72.184800,35mi,2020-01-01
102379,1257328972360228865,Tristan Sess,If you don‚Äôt have some sort of n95 or bandana ...,2020-05-04 15:19:21,N95,NYC,40.963400,-72.184800,35mi,2020-01-01

### Cleaning out Duplicate Values

Due to the way our function collected data, there was going to be substantial geographical overlap and likely duplicate tweets collected. When we finished running the collection, of the 102,000 collected tweets, we knew there were duplicates that had been caught multiple times by queries.

In [18]:
#Credit to Gil Baggio https://stackoverflow.com/questions/12497402/python-pandas-remove-duplicates-by-columns-a-keeping-the-row-with-the-highest/41650846#41650846 for source to this solution
df = df.drop_duplicates('tweet_id', keep='last')

In [19]:
df

,tweet_id,username,text,tweet_date,search_term,city,lat,long,radius,query_start
116,1233844182067875840,Hefe O-Ren Ishii,Y‚Äôall play and joke and keke over this covid s...,2020-02-29 19:59:11,COVID,Brooklyn,40.650002,-73.949997,10mi,2020-02-01
120,1233820264493993984,Jack Cohen üè°,Covid is basically a worldwide fire drill.,2020-02-29 18:24:08,COVID,Brooklyn,40.650002,-73.949997,10mi,2020-02-01
121,1233812715199770624,Tim Quirino üçï,So all the same concerns re: covid and it‚Äôs ef...,2020-02-29 17:54:09,COVID,Brooklyn,40.650002,-73.949997,10mi,2020-02-01
127,1233601346223460352,cody stuart,my covid nineteen prep has so far consisted o...,2020-02-29 03:54:14,COVID,Brooklyn,40.650002,-73.949997,10mi,2020-02-01
133,1233562637214142464,„Åü„Åè„Åº„Éº,„Åæ„ÅÇ„Åù„ÅÆÂ∏∞ÂõΩ„Åå„ÅÑ„Å§„Å´„Å™„Çã„Åã„ÅØCOVID-19Ê¨°Á¨¨„Å™„Çì„Åß„Åô„Åå„Å≠„ÄÇ,2020-02-29 01:20:25,COVID,Brooklyn,40.650002,-73.949997,10mi,2020-02-01
...,...,...,...,...,...,...,...,...,...,...
102375,1259183090511028225,Brian -Doc- Hall üåªü¶∫üå∫,"The current advisory is that due to shortages,...",2020-05-09 18:06:57,N95,NYC,40.963400,-72.184800,35mi,2020-01-01
102376,1259011974257664000,Trainman_lover üöÇüá∫üá∏‚≠ê‚≠ê‚≠ê,"What ?? The factories haven't been closed, Uni...",2020-05-09 06:47:00,N95,NYC,40.963400,-72.184800,35mi,2020-01-01
102377,1258420596452610050,Riverhead Patch,"The hospitals received N95 masks, surgical mas...",2020-05-07 15:37:05,N95,NYC,40.963400,-72.184800,35mi,2020-01-01
102378,1258229860880846848,UGLYboiJIGGY,even the homeless got the N95 out here selling...,2020-05-07 02:59:10,N95,NYC,40.963400,-72.184800,35mi,2020-01-01
102379,1257328972360228865,Tristan Sess,If you don‚Äôt have some sort of n95 or bandana ...,2020-05-04 15:19:21,N95,NYC,40.963400,-72.184800,35mi,2020-01-01

We've removed just about 40,000 tweets from our dataset after dropping duplicates.