In [1]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.read_csv(r'./datasets/twitter_scrape_5.10.csv')

In [4]:
df.head()

,tweet_id,username,text,tweet_date,search_term,city,lat,long,radius,query_start
0,1230271896752730117,Paloma Escudero,Coronavirus disease (COVID-19): What parents s...,2020-02-19 23:24:12,COVID,"{'city': 'Brooklyn', 'lat': 40.650002, 'long':...",40.650002,-73.949997,10mi,2020-02-01
1,1230192345087447040,RLC Student Media,"More flu deaths in Dallas, COVID-19 now in Tex...",2020-02-19 18:08:05,COVID,"{'city': 'Brooklyn', 'lat': 40.650002, 'long':...",40.650002,-73.949997,10mi,2020-02-01
2,1230096130748317696,Dr Janette Nesheiwat,Flu kills. Worst season I’ve seen in years. ...,2020-02-19 11:45:46,COVID,"{'city': 'Brooklyn', 'lat': 40.650002, 'long':...",40.650002,-73.949997,10mi,2020-02-01
3,1229810497341599744,Element Healing Arts,"Earlier this week, Bloomberg News reported tha...",2020-02-18 16:50:45,COVID,"{'city': 'Brooklyn', 'lat': 40.650002, 'long':...",40.650002,-73.949997,10mi,2020-02-01
4,1229567925004242944,Darwish,Chinese scientists says COVID-19/coronavirus c...,2020-02-18 00:46:52,COVID,"{'city': 'Brooklyn', 'lat': 40.650002, 'long':...",40.650002,-73.949997,10mi,2020-02-01

In [58]:
#Credit to Gil Baggio https://stackoverflow.com/questions/12497402/python-pandas-remove-duplicates-by-columns-a-keeping-the-row-with-the-highest/41650846#41650846 for source to this solution
df = df.drop_duplicates('tweet_id', keep='last')

In [59]:
df

,tweet_id,username,text,tweet_date,search_term,city,lat,long,radius,query_start
103,1233499966842294272,Evan T. At-home-rton,Predicting a massive spike in babies being nam...,2020-02-28 21:11:24,COVID,"{'city': 'Brooklyn', 'lat': 40.650002, 'long':...",40.650002,-73.949997,10mi,2020-02-01
105,1233461908583460865,Hefe O-Ren Ishii,The minute they confirm covid near me or my da...,2020-02-28 18:40:10,COVID,"{'city': 'Brooklyn', 'lat': 40.650002, 'long':...",40.650002,-73.949997,10mi,2020-02-01
108,1233426447206887424,tommiedcollins,Just finished listening live to tail end of Wo...,2020-02-28 16:19:15,COVID,"{'city': 'Brooklyn', 'lat': 40.650002, 'long':...",40.650002,-73.949997,10mi,2020-02-01
110,1233408000838205451,JeffCoHealth,DHSS Director Williams meets at White House to...,2020-02-28 15:05:57,COVID,"{'city': 'Brooklyn', 'lat': 40.650002, 'long':...",40.650002,-73.949997,10mi,2020-02-01
111,1233407710676295680,Gregory-Glenn Lake,COVID_19 UNMASKED √ https://twitter.com/patric...,2020-02-28 15:04:48,COVID,"{'city': 'Brooklyn', 'lat': 40.650002, 'long':...",40.650002,-73.949997,10mi,2020-02-01
...,...,...,...,...,...,...,...,...,...,...
51187,1257093235375300611,CÆTUS,demand will snap back 10x faster than after 9/...,2020-05-03 23:42:37,#covid19,"{'city': 'NYC', 'lat': 40.9634, 'long': -72.18...",40.963400,-72.184800,35mi,2020-01-01
51188,1257030762764947457,CÆTUS,the whole thing is just stupid\n\nquarantine t...,2020-05-03 19:34:23,#covid19,"{'city': 'NYC', 'lat': 40.9634, 'long': -72.18...",40.963400,-72.184800,35mi,2020-01-01
51189,1257024459732586497,CÆTUS,is the rate of #COVID19 admissions past peak?\...,2020-05-03 19:09:20,#covid19,"{'city': 'NYC', 'lat': 40.9634, 'long': -72.18...",40.963400,-72.184800,35mi,2020-01-01
51190,1257001155990884354,BLUMINERVIGILANCE,VOTE FAV GUS NAME \nROUND 2 \nBATTLE 2\n@psych...,2020-05-03 17:36:44,#covid19,"{'city': 'NYC', 'lat': 40.9634, 'long': -72.18...",40.963400,-72.184800,35mi,2020-01-01
51191,1256758593581395969,Center for Compassionate Leadership,#COVID19 is affecting workers differently &exp...,2020-05-03 01:32:52,#covid19,"{'city': 'NYC', 'lat': 40.9634, 'long': -72.18...",40.963400,-72.184800,35mi,2020-01-01

### Cleaning out Duplicate Values

Due to the way our function collected data, there was going to be substantial geographical overlap and likely duplicate tweets collected. When we finished running the collection, of the 52,000 collected tweets, around 20,000 tweets were duplicates that needed to be dropped.

In [61]:
dups_tweets = df.groupby(['tweet_id']).size().reset_index(name='count')
dups_tweets

                  tweet_id  count
0      1216102741149396992      1
1      1216104063307276289      1
2      1220790478100103174      1
3      1221249130342821888      1
4      1222142750533070849      1
...                    ...    ...
31876  1259271869661839361      1
31877  1259271893540093952      1
31878  1259271902788534273      1
31879  1259271905909133313      1
31880  1259271921864265730      1

[31881 rows x 2 columns]

In [54]:
dups_tweets = dups_tweets[dups_tweets['count'] != 1]
dups_tweets['count'].sort_values(ascending = False)

28365    31
671      27
6819     26
20051    26
16304    26
         ..
16033     2
16032     2
16031     2
16027     2
2         2
Name: count, Length: 4982, dtype: int64